@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.container {
    margin: 30px auto;
    width: 400px;
}

h1 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    color: #ff6f61;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
}

h3 {
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
    color: #3d3d3d;
}

h4 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-transform: uppercase;
    color: #2ecc71;
}

.inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 10px;
    border: 2px solid #f1c40f;
}

.inc-exp-container>div {
    flex: 1;
    text-align: center;
}

.inc-exp-container>div:first-of-type {
    border-right: 1px dashed #dedede;
}

.money {
    font-size: 24px;
    letter-spacing: 1.5px;
    margin: 5px 0;
}

.money.plus {
    color: #27ae60;
    font-weight: bold;
}

.money.minus {
    color: #e74c3c;
    font-weight: bold;
}

label {
    display: inline-block;
    margin: 10px 0;
    color: #34495e;
    font-weight: bold;
}

input[type='text'],
input[type='number'] {
    border: 2px solid #7f8c8d;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s;
}

input[type='text']:focus,
input[type='number']:focus {
    border-color: #2980b9;
}

.btn {
    cursor: pointer;
    background-color: #8e44ad;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #732d91;
}

.btn:focus,
.delete-btn:focus {
    outline: 0;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: transform 0.3s;
}

.list li.plus {
    border-right: 5px solid #2ecc71;
}

.list li.minus {
    border-right: 5px solid #c0392b;
}

.list li:hover {
    transform: scale(1.05);
}

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}